# Pipeline to test our SonarCloud
trigger: none

pool:
  vmImage: "ubuntu-latest"

stages:
- stage: SonarCloud
  displayName: SonarCloud Test
  jobs:
  - job: BuildWithSonarCloud
    displayName: Build .NET Project With SonarCloud
    steps:
    - checkout: self
      fetchDepth: 0

    - task: SonarCloudPrepare@4
      inputs:
        SonarCloud: 'sonarcloud-connection-ado'   # name of your service connection
        organization: 'webblcw23'
        scannerMode: 'dotnet'                    # use MSBuild for .NET projects
        projectKey: 'webblcw23_FootballScores'
        projectName: 'FootballScores'

    - script: dotnet build Rangers.Web.csproj. # Solution or project file to build (.sln or .csproj)
      displayName: 'Build .NET project'

    - task: SonarCloudAnalyze@4
      displayName: 'Run SonarCloud analysis'

    - task: SonarCloudPublish@4
      inputs:
        pollingTimeoutSec: '300'
      displayName: 'Publish SonarCloud results'